<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> Nussbaum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <% if(logged_in){ %>


            <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/CreateTicket"><i class="fas fa-paper-plane"> </i> New Ticket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MyTickets"><i class="fas fa-paperclip"> </i> My Tickets</a>
                        </li>
                    </ul>

            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;" id="download" aria-expanded="true"><i class="fas fa-user"> </i> <%= user.name %>
                        <span class="caret"></span>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<a class="dropdown-item" href="#">Profile</a>-->
                        <!--<a class="dropdown-item" href="#settings">Settings</a>-->
                        <a class="dropdown-item" href="/AllRooms"><i class="fas fa-location-arrow"> </i> Rooms</a>
                        <a class="dropdown-item" href="/CreateUser"><i class="fas fa-user-plus"></i> New User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="logout-link" href="/"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        
                    </div>
                </li>
            </ul>
    </div>
    <% } %>
</nav>