<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" rel="home" href="#" style="margin-right:5px;">
                <img style="max-height:47px;"
                     src="/assets/img/logo.png">
            </a>
    <a class="navbar-brand" rel="home" href="/">BOUNTYDESK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/CreateTicket">
                    <i class="fas fa-paper-plane"> </i> New Ticket</a>
            </li>
            <% if(logged_in){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/TicketQuery?assigned.name=<%= user.name %>&status=2&status=3">
                        <i class="fas fa-paperclip"> </i> My Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TicketQuery?status=3">
                        <i class="fas fa-hand-paper"> </i> Blocked Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TicketQuery?status=4&status=5">
                        <i class="fas fa-archive"></i> Archive</a>
                </li>
                <% } %>
        </ul>
        <% if(logged_in){ %>
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <form class="form-inline mr-3" id="search-form">
                        <input class="form-control mr-sm-2" id="search-query" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i> Search</button>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;" id="download" aria-expanded="true">
                        <i class="fas fa-user"> </i>
                        <%= user.name %>
                            <span class="caret"></span>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<a class="dropdown-item" href="#">Profile</a>-->
                        <!--<a class="dropdown-item" href="#settings">Settings</a>-->
                        <a class="dropdown-item" href="/AllRooms">
                            <i class="fas fa-location-arrow"> </i> Rooms</a>
                        <a class="dropdown-item" href="/CreateUser">
                            <i class="fas fa-user-plus"></i> New User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="logout-link" href="/">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>

                    </div>
                </li>
            </ul>
            <% } %>
    </div>

</nav>
<div id="header-alert" class="alert alert-dismissible alert-success" style="display:none;">
</div>