<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Nussbaum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <% if(logged_in){ %>


            <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#CreateTicket">New Ticket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inventory</a>
                        </li>
                    </ul>

            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="true"><%= user.name %>
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="logout-link" href="#">Logout</a>
                        
                    </div>
                </li>
            </ul>
            
        <% } %>
    </div>
</nav>
<!--
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
        <div class="container">
			<a class="navbar-brand" href="/">Backbone-Login</a>

            <div id="header-alert" class="alert alert-success col-md-7 navbar-button" style="display:none;"></div>

            <% if(logged_in){ %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="logout-link" href="#" data-bypass>Sign Out</a></li>
                        <li><a id="remove-account-link" href="#" data-bypass>Remove Account</a></li>
                    </ul>
                </li>
            </ul>
            <% } %>
      
    	</div>
  	</div>
</div>
-->