<div id="Ticket-template" class="container">
    <div class="row p-1">
        <div class="col-lg-8 mb-3 mb-md-0">
            <div class="card mb-4">
                <div class="card-header">
                    Ticket
                    <div class="text-muted float-right">
                        <%= this.TicketModel.toJSON().issuer %> opened this
                            <%= timeAgo(this.TicketModel.toJSON().created) %>

                                <% if(logged_in){ %>
                                    <button type="button" class="close ml-2" data-toggle="modal" data-target="#editTicket" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                    </button>
                                    <% } %>
                    </div>
                </div>
                <div class="card-body px-3 py-1">
                    <h1 class="mb-1 card-title">
                        <%= this.TicketModel.toJSON().headline %>
                    </h1>
                    <p class="text-muted">
                        <% switch(status) { case 0:%>
                            <span class="badge badge-primary">
                                <i class="fas fa-exclamation"></i>
                                new
                            </span>
                            <% break; case 1:%>
                                <span class="badge badge-primary">
                                    <i class="fas fa-exclamation"></i>
                                    unassigned
                                </span>
                                <% break; case 2:%>
                                    <span class="badge badge-info">
                                        <i class="fas fa-ellipsis-h"></i>
                                        processing
                                    </span>
                                    <% break; case 3:%>
                                        <span class="badge badge-secondary">
                                            <i class="fas fa-hand-paper"></i>
                                            stashed
                                        </span>
                                        <% break; case 4:%>
                                            <span class="badge badge-success">
                                                <i class="fas fa-check"></i>
                                                solved
                                            </span>
                                            <% break; case 5:%>
                                                <span class="badge badge-danger">
                                                    <i class="fas fa-ban"></i>
                                                    rejected
                                                </span>
                                                <% break; }%>
                                                    <br>
                                                    <% if(this.TicketModel.toJSON().room){ %>
                                                        <span class="badge badge-primary">
                                                            <i class="fas fa-map-marker-alt"></i>
                                                            <%= this.TicketModel.toJSON().room %>
                                                        </span>
                                                        <% } %>
                                                            <% if(this.TicketModel.toJSON().bounty){ %>
                                                                <span class="badge badge-primary">
                                                                    <i class="fas fa-plus-square"></i>
                                                                    <%=this.TicketModel.toJSON().bounty %>
                                                                </span>
                                                                <% } %>
                                                                    <span class="badge badge-primary">
                                                                        <i class="fas fa-envelope"></i>
                                                                        <%= this.TicketModel.toJSON().contact_email %>
                                                                    </span>
                                                                    <% for (var i in this.TicketModel.toJSON().assigned){ %>
                                                                        <span class="badge badge-primary">
                                                                            <i class="fas fa-user"></i>
                                                                            <%= this.TicketModel.toJSON().assigned[i].name %>
                                                                        </span>
                                                                        <% } %>
                    </p>
                    <p class="text-justify">
                        <%= content %>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Comments</div>
                <div class="card-body p-3">
                    <% if(logged_in){ %>
                        <form id="comment-form" novalidate>
                            <div class="form-row">
                                <div class="col-10">
                                    <input type="text" id="comment-content" class="form-control" placeholder="Comment" required>
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <% } else { %>
                            <i>Only members can comment on this.</i>
                            <% } %>
                                <div class="mt-3">
                                    <% this.CommentCollection.each(function(model){ %>
                                        <div class="media text-muted">
                                            <p class="media-body pt-2 mt-0 border-top border-gray">
                                                <small class="float-right">
                                                    <%= timeAgo(model.toJSON().created) %>
                                                </small>
                                                <strong class="d-block text-gray-dark">
                                                    <%= "@"+model.toJSON().user %>
                                                </strong>
                                                <%= model.toJSON().content %>
                                            </p>
                                        </div>
                                        <% }) %>
                                            <!--<small class="d-block text-right">
                                    <a href="#">All Comments</a>
                                </small>-->
                                </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-3 mb-md-0">
            <% if(logged_in){ %>
                <div class="card mb-3">
                    <div class="card-header">Properties</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4 class="text-muted">Status</h4>
                            <form id="status-form" class="mb-2" novalidate>
                                <div class="btn-group-vertical btn-group-toggle w-100" id="status-options" data-toggle="buttons">
                                    <% if(!(status==1 || status==2)){ %>
                                        <label class="btn btn-outline-primary">
                                            <input name="status-options" id="status-accept" value="2" autocomplete="off" type="radio" required>
                                            <i class="fas fa-ellipsis-h"></i> Processing
                                        </label>
                                        <% } if(status!=0 && status!=5 && status!=4){ %>
                                            <label class="btn btn-outline-primary">
                                                <input name="status-options" id="status-solved" value="4" autocomplete="off" type="radio" required>
                                                <i class="fas fa-check"></i> Solved
                                            </label>
                                            <%} if(status<3){ %>
                                                <label class="btn btn-outline-primary">
                                                    <input name="status-options" id="status-stashed" value="3" autocomplete="off" type="radio" required>
                                                    <i class="fas fa-hand-paper"></i> Stashed
                                                </label>
                                                <% } if(status<4){ %>
                                                    <label class="btn btn-outline-primary">
                                                        <input name="status-options" id="status-spam" value="5" autocomplete="off" type="radio" required>
                                                        <i class="fas fa-ban"></i> Rejected
                                                    </label>
                                                    <%} if(status==0){ %>
                                                        <label class="btn btn-outline-danger">
                                                            <input name="status-options" id="status-delete" value="delete" autocomplete="off" type="radio" required>
                                                            <i class="fas fa-trash"></i> Delete
                                                        </label>
                                                        <% } %>
                                </div>
                            </form>
                        </li>
                        <% if (status<4&&!status==0){ %>
                            <li class="list-group-item">
                                <h4 class="text-muted">Bounty</h4>
                                <form id="bounty-form" class="mb-2" novalidate>
                                    <div class="btn-group btn-group-toggle d-flex" id="bounty-options" data-toggle="buttons">
                                        <label class="btn btn-outline-primary w-100">
                                            <input name="bounty-options" id="bounty-10" value="10" autocomplete="off" type="radio" required> +10
                                        </label>
                                        <label class="btn btn-outline-primary w-100">
                                            <input name="bounty-options" id="bounty-25" value="25" autocomplete="off" type="radio" required> +25
                                        </label>
                                        <label class="btn btn-outline-primary w-100">
                                            <input name="bounty-options" id="bounty-50" value="50" autocomplete="off" type="radio" required> +50
                                        </label>
                                        <label class="btn btn-outline-primary w-100">
                                            <input name="bounty-options" id="bounty-100" value="100" autocomplete="off" type="radio" required> +100
                                        </label>
                                    </div>
                                </form>
                            </li>
                            <% } if(status>0&&status<4&&logged_in) { %></4>
                                <li class="list-group-item" novalidate>
                                    <h4 class="text-muted">Assigned Users</h4>
                                    <form id="assign-form" novalidate>
                                        <select class="selectpicker" data-style="btn-outline-primary" id="assign-select" multiple data-width="100%" data-size="4"
                                            data-live-search="true" title="Assign users" required>
                                            <% this.UserCollection.each(function(model){ %>
                                                <option value="<%= model.toJSON()._id %>">
                                                    <%= model.toJSON().name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </form>
                                </li>
                                <% } %>
                    </ul>

                </div>
                <% } %>
        </div>
    </div>
    <div class="modal fade" id="editTicket" tabindex="-1" role="dialog" aria-labelledby="editTicketLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTicketLabel">Edit Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form novalidate id="change-form" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ticket-headline" class="col-form-label">In a nutshell:</label>
                            <input type="text" class="form-control" id="ticket-headline" value="<%= this.TicketModel.toJSON().headline %>" required>
                        </div>
                        <div class="form-group">
                            <label for="ticket-content" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="ticket-content" required><%= this.TicketModel.toJSON().content %></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>