<div class="list-group">
    <% this.TicketCollection.each(function(model){  %>
        <a href="#ticket/<%= model.toJSON()._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-truncate">
                    <%= model.toJSON().headline %>
                </span>
                <% if(model.toJSON().bounty) { %>
                    <span class="badge badge-primary badge-pill">+
                        <%= model.toJSON().bounty %>
                    </span>
                    <% } %>
            </div>
        </a>
        <% });%>
</div>